/** imports *******************************************************************/

@import url("assets.css");

/** tags **********************************************************************/

* {
  box-sizing: border-box;
}

html {
  font-family:              "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:                    #393E41;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:     100%;
}

body {
  margin: 0;
}

h1 {
  color:       #426681;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:   36px;
  font-weight: 200;
}

h2 {
  color:       #426681;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:   28px;
  font-weight: 200;
}

h3 {
  color:       #426681;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:   22px;
  font-weight: 200;
}

p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:   14px;
  line-height: 24px;
  text-align: justify;
}

/** components ****************************************************************/

/**
 *  container
 *
 *  center the body horizontally.
 */
.container {
  position: relative;
  margin:   0 auto;
  overflow: auto;
}
@media (min-width: 768px) {
  .container {
    margin-left:  110px;
    margin-right: 110px;
  }
}

/**
 * navbar
 */
.navbar {
  padding:    0;
  margin:     -15px 0 0 0;
  list-style: none;
  overflow:   auto;
}
@media (min-width: 768px) {
  .navbar {
    margin: 0 0 0 -15px;
  }
}
.navbar li {
  margin:  15px 0 0 0;
}
@media (min-width: 768px) {
  .navbar li {
    display: inline;
    float:   left;
    margin:  0 0 0 15px;
  }
}

/**
 * button
 *
 * may be used inside the navbar to render a button
 */
.button,
.button a {
  padding:         12px;
  border-radius:   2px;
  font-size:       16px;
  text-align:      center;
  text-decoration: none;
  text-transform:  uppercase;
  letter-spacing:  1px;
}
.button:hover,
.button:focus,
.button:active,
.button a:hover,
.button a:focus,
.button a:active {
  color: #eee;
}

/**
 * link
 *
 * may be used inside the navbar to render a link
 */
.link,
.link a {
  color:           #426681;
  font-size:       14px;
  font-weight:     400;
  text-decoration: none;
  text-transform:  uppercase;
  letter-spacing:  1px;
}
.link:hover,
.link:focus,
.link:active,
.link a:hover,
.link a:focus,
.link a:active {
  color: #393E41;
}

/**
 * hamburger button
 */
button.hamburger {
  float:            right;
  border:           none;
  padding:          0;
  margin-bottom:    -8px;
  background-color: inherit;
  outline:          none;
  cursor: pointer;
}
.hamburger span.bar {
  display:          block;
  height:           4px;
  width:            36px;
  margin-bottom:    8px;
  background-color: #999;
}

/**
 * grid
 */
.grid {
   margin:  0 -8px 0 -8px;
   padding: 0;
   list-style: none;
   overflow:   auto;
   text-align: center;
 }
 /*@media (min-width: 768px) {
   .grid {
     text-align: inherit;
   }
 }*/
 .grid li {
   display: inline-block;
   margin:  8px;
 }

 .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-first {
  margin-top:     110px;
  padding-bottom: 50px;
}

/** header ********************************************************************/

.header {
  position:         fixed;
  left:             0;
  right:            0;
  top:              0;
  height:           110px;
  border-width:     1px 0 2px 0;
  border-style:     solid;
  border-color:     #426681;
  background-color: #fff;
  z-index:          1;
}

/**
 * ssgate logo
 */
.header .logo-ssgate {
  position: absolute;
  height:   100%;
  padding:  12px;
}
/*@media (min-width: 992px) {
  .header .logo-techxlab {
    width:  180px;
    height: 47px;
  }
}
@media (min-width: 1200px) {
  .header .logo-techxlab {
    width:  240px;
    height: 62px;
  }
}*/

/**
 * header navbar
 *
 * positioned at the bottom left of the navbar, visible only on desktops
 */
.header .navbar-header {
  float:   left;
  display: none;
  margin:  45px 0 0 0;
}
@media (min-width: 768px) {
  .header .navbar-header {
    display: block;
  }
}
@media (min-width: 992px) {
  .header .navbar-header {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .header .navbar-header a {
    font-size: 16px;
  }
}

/**
 * hamburger
 *
 * verticaly center hamburger button relative to the logo
 */
.header .hamburger {
  margin: 5px 4px 0;
}
@media (min-width: 768px) {
  .header .hamburger {
    display: none;
  }
}

/**
 * submit project button
 *
 * verticaly center hamburger button relative to the logo
 */
.header .button-submit-project {
  position:      absolute;
  top:           32px;
  right:         32px;
  color:         #426681;
  border-style:  solid;
  border-width:  1px;
  border-color:  #426681;
}

/** banner section ************************************************************/

/**
 * banner image
 *
 * fixed to the viewport behind, but not within, the banner element to create a
 * parallax effect.
 */
.section-banner img {
  position:   fixed;
  top:        64px;
  width:       317%;
  margin-left: -170px;
  z-index:     -1;
}
@media (min-width: 575px) {
  .section-banner img {
    width:    120%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .section-banner img {
    width: 100%;
    top:   110px;
  }
}

/**
 * banner section
 *
 * a frame that overlays the fixed image in the background, maintaing the aspect
 * ratio using the padding-top/bottom percentage hack (vertical padding is tied
 * to the horizontal width). unlike the banner image, it cannot use fixed
 * positioning because it scrolls with the page.
 */
.section-banner {
  position:    relative;
  padding-top: 129%;
  color: #fff;
}
@media (min-width: 575px) {
  .section-banner {
    padding-top: 48%;
  }
}
@media (min-width: 768px) {
  .section-banner {
    padding-top: 47%;
    margin-top: 110px;
  }
}

/**
 * banner section container
 *
 * override the default behaviour of the container, using absolute positioning to
 * fill the banner position that gets it size from the quirky vertical padding
 * behaviour.  this works because padding has no effect on positioned elements.
 */
.section-banner .container {
  position: absolute;
  left:     0;
  right:    0;
  top:      0;
  bottom:   0;
}

@media (min-width: 575px) and (max-width: 991px) {
  .section-banner .container {
    width: 90%;
  }
}

/**
 * banner section vertical center wrapper
 *
 * use the 50% height + negative child margin hack for vertical centering
 */
.section-banner .vertical-center-wrapper {
  position: absolute;
  top:      50%;
  width:    100%;
}

/**
 * banner section call to action box
 *
 * house all the
 */
.section-banner .call-to-action {
  position: absolute;
  top:      22%;
  left:     34px;
  width:    280px;
  color:    #fff;
}
@media (min-width: 768px) {
  .section-banner .call-to-action {
      width: 300px;
  }
}
@media (min-width: 992px) {
  .section-banner .call-to-action {
      width: 390px;
  }
}
@media (min-width: 1200px) {
  .section-banner .call-to-action {
      width: 440px;
  }
}
@media (min-width: 1500px) {
  .section-banner .call-to-action {
      width: 500px;
  }
}


/**
 * banner section call to action header
 */
.section-banner .call-to-action h1 {
  margin:       15px;
  font-size:    22px;

}
@media (min-width: 768px) {
  .section-banner .call-to-action h1 {
    font-size:    24px;
  }
}
@media (min-width: 992px) {
  .section-banner .call-to-action h1 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .section-banner .call-to-action h1 {
    font-size: 36px;
  }
}
@media (min-width: 1500px) {
  .section-banner .call-to-action h1 {
    font-size: 42px;
  }
}

/**
 * banner call to action mission text
 */
.section-banner .call-to-action p {
  padding:          15px;
  font-size:        12px;
  line-height:      24px;
  letter-spacing:   1px;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .section-banner .call-to-action p {
    background-color: rgba(100, 100, 100, 0.30);
    font-size: 14px;
  }
}

.section-banner .call-to-action .button {
  border-color:  #fff; /*#426681; */
  border-style: solid;
  border-width: 2px;

}

@media (max-width: 574px) {
  .section-banner .call-to-action .navbar {
    margin: -12px 15px 0 15px;
  }
}
@media (min-width: 575px) {
  .section-banner .call-to-action .navbar {
    margin: 0 0 0 -15px;
  }
}
@media (min-width: 575px) {
  .section-banner .call-to-action .navbar li {
    display: inline;
    float:   left;
    margin:  0 0 0 15px;
  }
}

/**
 * banner section call to action box
 *
 * house all the
 */
/*.section-banner .banner-box {
  position:     absolute;
  color:        #fff;
  text-align:   justify;
  top:          0;
  bottom:       0;
  background-color: rgba(0,0,0,.7);
  padding: 26px;
}
.section-banner .banner-box h2 {
  margin-top: 10px;
}
.section-banner .banner-box a {
  color: #00a0be;
  text-decoration: none;
}
@media (min-width: 768px) {
  .section-banner .banner-box {
    width:        390px;
    right:        0;
    padding: 40px;

  }
}*/

/** menu section **************************************************************/

.section-menu {
  /*background-color: #fff;*/
  padding:       8px;
  border-width: 3px 0 3px 0;
  border-style: solid;
  border-color: #fff /* #426681; */
  /*background-color: #fff;*/
}
/*.section-menu .navbar {
  float: right;
}
.section-menu .navbar + * {
  clear:
}*/

/** projects section **********************************************************/

.section-projects {
  background-color: #fff;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #426681;
  padding-bottom:   50px;
}

.section-projects .project {
  overflow: hidden;
  height:   272px;
  margin-bottom: 20px;
}
/*.section-projects .project h3 {
  margin-top: 0;
}*/
.section-projects .project .image-frame {
  float:        left;
  width:        250px;
  height:       250px;
  margin-top:    22px;
  margin-right:  22px;
  border-width: 2px;
  border-style: solid;
  border-color: #426681;
  overflow: hidden;
}
.section-projects .project img {
  width: 100%;
}

.section-projects .project a {
  color:           inherit;
  text-decoration: inherit;
}

/** solution catetgories section **********************************************/

.section-solution-categories {
  background-color: #fff;
}

.section-solution-categories .grid-section-solution-categories {
  width: 25%;

}

.section-solution-categories .grid-section-solution-categories img {
  width: 100%;
}

/*.section-solution-categories .grid-section-solution-categories h3 {
  position: absolute;
  left: 0;
  right: 0;
  top:  0;
  bottom: 0;
}*/

/** partners section ***********************************************************/

.section-partners img {
  float: right;
  margin: 22px;

}

/** solution section **********************************************************/

.section-solution img {

  float: right;
  margin: 22px;

}

/** about page ****************************************************************/

.about-banner {
  width: 100%;
  height: auto;
}
.about-banner img {
  width: 100%;
}


/* TEAM */

.team {
  width: 100%;
}

/** footer ********************************************************************/

.footer {
  padding:    30px 0 30px 0;
  color:      #fff;
  background: #426681;
}
.footer p {
  text-align: center;
}

.footer .container-footer {
  height: 200px;
}

.footer .navbar-footer {
  display: inline-block;
}
.footer .navbar-footer a {
  color: #fff;
  text-transform: none;
}

/**
 * left column
 */
.footer .column-left {
  position: absolute;
  display:  none;
  left:     0;
  top:      0;
  bottom    0;
  width:    250px;
}
@media (min-width: 768px) {
  .footer .column-left {
    display: block;
  }
}

.footer .column-left img {
  display:       block;
  margin-bottom: 15px;
}

/**
 * center column
 */
.footer .column-center {
  width:      100%;
  text-align: center;
}
@media (min-width: 768px) {
  .footer .column-center {
    position: absolute;
    width: auto;
    top:      0;
    left:     250px;
    right:    250px;
    top:      0;
    bottom:   0;
  }
}

/**
 * right column
 */
 .footer .column-right {
   position: absolute;
   display:  none;
   padding-left: 26px;
   right:    0;
   top:      0;
   bottom:   0;
   width:    250px;
 }
 @media (min-width: 768px) {
  .footer .column-right {
    display:  block;
  }
}
.footer .column-right .navbar {
  margin-left:  -10px;
}
.footer .column-right .navbar li {
  margin-left: 10px;
}

.footer .column-right h3 {
  margin: 0 0 10px 0;
}
.footer .column-right a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0 0 10px 0;
}
.footer .column-right .button {
  width: 120px;
  margin:  0;
  background-color: #5F90DB;
}

.footer .icon-social {
  display:           block;
  color:             #fff;
  width:             20px;
  height:            20px;
  background-size:   cover;
  background-repeat: no-repeat;
}
